<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{ 'bootstrap/header' }"></th:block>
<body>

<div class="container mt-4">
    <h1 class="display-4">Информация о предмете</h1>

    <div class="col-md-12 mb-3">
        <div class="row">
            <div class="col-md-6">
                <div th:if="${techInfo != null && techInfo.getClass().getName() == 'ru.stocktaking.stocktaking.model.tech.dto.TechComputerInfoDTO'}">
                    <div style="border: 1px solid #ccc; padding: 15px; border-radius: 8px; background-color: #f8f9fa;">
                        <div class="info-block mt-2"
                             style="font-family: 'Arial', sans-serif; font-size: 18px; color: #007bff;">
                            <span th:text="${'Инвентарный номер №: ' + techInfo.getInventoryNumber()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #dc3545;">Тип:</span>
                            <span class="info-value" th:text="${techInfo.getType()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Номер кабинета::</span>
                            <span class="info-value" th:text="${techInfo.getCabinetNumber()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Закреплен за:</span>
                            <span class="info-value" th:text="${techInfo.getEmployeeName()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Серийный номер:</span>
                            <span class="info-value" th:text="${techInfo.getSerialNumber()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Модель:</span>
                            <span class="info-value" th:text="${techInfo.getModel()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Производитель::</span>
                            <span class="info-value" th:text="${techInfo.getProducer()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label"
                                  style="font-weight: bold; color: #6c757d;">Операционная система:</span>
                            <span class="info-value" th:text="${techInfo.getOperationSystem()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Дисплей:</span>
                            <span class="info-value" th:text="${techInfo.getDisplay()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label"
                                  style="font-weight: bold; color: #6c757d;">Материнская память:</span>
                            <span class="info-value" th:text="${techInfo.getMotherBoard()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Процессор:</span>
                            <span class="info-value" th:text="${techInfo.getProcessor()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label"
                                  style="font-weight: bold; color: #6c757d;">Оперативная память:</span>
                            <span class="info-value" th:text="${techInfo.getAmountRam()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Память:</span>
                            <span class="info-value"
                                  th:text="${techInfo.getMemory() + ' ' + techInfo.getAmountOzu()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #dc3545;">Дата регистрации:</span>
                            <span class="info-value" th:text="${techInfo.getRegistrationDate()}"></span>
                        </div>
                        <div th:if="${techInfo.getDerigistrationDate() != 'null'}" class="info-block"
                             style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #dc3545;">Дата списания:</span>
                            <span class="info-value" th:text="${techInfo.getDerigistrationDate()}"></span>
                        </div>
                        <div class="info-block"
                             style="font-family: 'Arial', sans-serif; font-size: 16px; display: flex; align-items: center;">
                            <span class="info-label" style="font-weight: bold;">На балансе?:</span>
                            <span th:text="${techInfo.isActive() ? '&#8226;' : '&#8226;'}"
                                  th:style="${techInfo.isActive()} ? 'color: green; font-size: 45px; margin-left: 8px;' : 'color: red; font-size: 45px; margin-left: 8px;'"></span>
                        </div>
                    </div>
                    <div class="mt-3" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <div th:if="${techInfo.isActive()}">
                            <form th:method="POST" th:action="@{/tech/{techId}(techId=${techInfo.getId()})}">
                                <button type="submit" class="btn btn-danger">Списать технику</button>
                            </form>
                        </div>
                        <div th:unless="${techInfo.isActive()}">
                            <form th:method="POST" th:action="@{/tech/life/{techId}(techId=${techInfo.getId()})}">
                                <button type="submit" class="btn btn-warning">Восстановить технику</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div th:if="${techInfo != null && techInfo.getClass().getName() == 'ru.stocktaking.stocktaking.model.tech.dto.TechPrinterInfoDTO'}">
                    <div style="border: 1px solid #ccc; padding: 15px; border-radius: 8px; background-color: #f8f9fa;">
                        <div class="info-block mt-2"
                             style="font-family: 'Arial', sans-serif; font-size: 18px; color: #007bff;">
                            <span th:text="${'Инвентарный номер №: ' + techInfo.getInventoryNumber()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #dc3545;">Тип:</span>
                            <span class="info-value" th:text="${techInfo.getType()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Номер кабинета:</span>
                            <span class="info-value" th:text="${techInfo.getCabinetNumber()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Закреплен за:</span>
                            <span class="info-value" th:text="${techInfo.getEmployeeName()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Серийный номер:</span>
                            <span class="info-value" th:text="${techInfo.getSerialNumber()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Модель:</span>
                            <span class="info-value" th:text="${techInfo.getModel()}"></span>
                        </div>
                        <div class="info-block mt-2" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Производитель::</span>
                            <span class="info-value" th:text="${techInfo.getProducer()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Тип печати:</span>
                            <span class="info-value" th:text="${techInfo.getPrintType()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label"
                                  style="font-weight: bold; color: #6c757d;">Технология печати:</span>
                            <span class="info-value" th:text="${techInfo.getPrintTechnology()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #6c757d;">Скорость печати:</span>
                            <span class="info-value" th:text="${techInfo.getPrintSpeed()}"></span>
                        </div>
                        <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #dc3545;">Дата регистрации:</span>
                            <span class="info-value" th:text="${techInfo.getRegistrationDate()}"></span>
                        </div>
                        <div th:if="${techInfo.getDerigistrationDate() != 'null'}" class="info-block"
                             style="font-family: 'Arial', sans-serif; font-size: 16px;">
                            <span class="info-label" style="font-weight: bold; color: #dc3545;">Дата списания:</span>
                            <span class="info-value" th:text="${techInfo.getDerigistrationDate()}"></span>
                        </div>
                        <div class="info-block"
                             style="font-family: 'Arial', sans-serif; font-size: 16px; display: flex; align-items: center;">
                            <span class="info-label" style="font-weight: bold;">На балансе?:</span>
                            <span th:text="${techInfo.isActive() ? '&#8226;' : '&#8226;'}"
                                  th:style="${techInfo.isActive()} ? 'color: green; font-size: 45px; margin-left: 8px;' : 'color: red; font-size: 45px; margin-left: 8px;'"></span>
                        </div>
                    </div>
                    <div class="mt-3" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <div th:if="${techInfo.isActive()}">
                            <form th:method="POST" th:action="@{/tech/{techId}(techId=${techInfo.getId()})}">
                                <button type="submit" class="btn btn-danger">Списать технику</button>
                            </form>
                        </div>
                        <div th:unless="${techInfo.isActive()}">
                            <form th:method="POST" th:action="@{/tech/life/{techId}(techId=${techInfo.getId()})}">
                                <button type="submit" class="btn btn-warning">Восстановить технику</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">

                <div style="border: 1px solid #ccc; padding: 15px; border-radius: 8px; background-color: #f8f9fa;">
                    <div class="info-block mt-2"
                         style="font-family: 'Arial', sans-serif; font-size: 18px; color: #007bff;">
                        <span th:text="${'Перемещение в другой кабинет ' + techInfo.getType() + ' ' + techInfo.getInventoryNumber()}"></span>
                    </div>

                    <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                        <label class="info-label font-weight-bold text-muted">Номер кабинета:</label>
                        <div class="input-group">
                            <select class="form-control info-value" id="selectedCabinet" name="cabinetId">
                                <option th:each="cabinet : ${cabinetList}" th:value="${cabinet.getId()}"
                                        th:text="${'Отделение: ' + cabinet.getCorp() + ' Номер кабинета: ' + cabinet.getCabinetNumber()}"
                                        th:selected="${cabinet.getId() eq techInfo.getCabinetId()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <form th:method="POST" th:action="@{/tech/edit/cabinet/}" id="editCabinetForm"
                          th:data-tech-id="${techInfo.getId()}">
                        <button type="submit" class="btn btn-success">Изменить кабинет</button>
                    </form>
                </div>


                <div style="border: 1px solid #ccc; padding: 15px; border-radius: 8px; background-color: #f8f9fa; margin-top: 90px;">
                    <div class="info-block mt-2"
                         style="font-family: 'Arial', sans-serif; font-size: 18px; color: #007bff;">
                        <span th:text="${'Замена ответственного лица для: ' + techInfo.getType() + ' ' + techInfo.getInventoryNumber()}"></span>
                    </div>

                    <div class="info-block" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                        <label class="info-label font-weight-bold text-muted">Ответственное лицо:</label>
                        <div class="input-group">
                            <select class="form-control info-value" id="selectedEmployee" name="employeeId">
                                <option th:each="employee : ${employeesList}" th:value="${employee.getId()}"
                                        th:text="${employee.getSurname() + ' ' + employee.getName() + ' ' + employee.getPosition()}"
                                        th:selected="${employee.getId() eq techInfo.getEmployeeId()}"></option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="mt-3">
                    <form th:method="POST" th:action="@{/tech/edit/employee/}" id="editEmployeeForm"
                          th:data-tech-id="${techInfo.getId()}">
                        <button type="submit" class="btn btn-success">Изменить ответственное лицо</button>
                    </form>
                </div>
            </div>



            <script>
                document.getElementById('selectedEmployee').addEventListener('change', updateFormAction);
                document.addEventListener('DOMContentLoaded', updateFormAction);

                function updateFormAction() {
                    var techId = document.getElementById('editEmployeeForm').getAttribute('data-tech-id');
                    var selectedEmployeeId = document.getElementById('selectedEmployee').value;
                    var form = document.getElementById('editEmployeeForm');
                    form.action = '/tech/' + techId + '/edit/employee/' + selectedEmployeeId;
                }
            </script>


            <script>
                // Обработчик события изменения выпадающего списка
                document.getElementById('selectedCabinet').addEventListener('change', updateFormAction);

                // Вызов функции при загрузке страницы
                document.addEventListener('DOMContentLoaded', updateFormAction);

                function updateFormAction() {
                    // Обновление атрибута action формы
                    var selectedCabinetId = document.getElementById('selectedCabinet').value;
                    var form = document.getElementById('editCabinetForm');
                    // Добавим проверку наличия значения в поле data-tech-id
                    var techId = form.getAttribute('data-tech-id');
                    if (techId && selectedCabinetId) {
                        form.action = '/tech/' + techId + '/edit/cabinet/' + selectedCabinetId;
                    }
                }
            </script>

        </div>
    </div>

</div>
</body>
<th:block th:include="~{ 'bootstrap/footer' }"></th:block>
</html>
