<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{ 'bootstrap/header' }"></th:block>
<body>
<div class="container mt-4">
    <h1>Информация по зданию</h1>

    <div class="list-group">

        <p th:text="${'Филиал: ' + building.getName()}">Value</p>
        <p th:text="${'Адрес: ' + building.getRegion() + ' ' + building.getCity() + ' ' + building.getStreet() + ' ' + building.getBuildingNumber()}">Value</p>
<!--        <div th:each="cabinet : ${cabinet}">-->
<!--            <a th:href="@{/cabinet/cabinet_in_school/{cabinet_number}(cabinet_number=${cabinet.getCabinetNumber()})}"-->
<!--               th:text="${'Кабинет № : ' + cabinet.getCabinetNumber() + ' ' + 'Корпус: ' + cabinet.getCorps() + ' ' + 'Этаж: ' + cabinet.getFloor()}"-->
<!--               class="btn btn-outline-primary">-->
<!--            </a>-->
<!--        </div>-->
    </div>
</div>





</body>
<th:block th:include="~{ 'bootstrap/footer' }"></th:block>
</html>