<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{ 'bootstrap/header' }"></th:block>
<body>
<div class="container mt-4">
    <h1 class="display-4">Кабинеты</h1>

    <div class="row">
        <div th:each="cabinet : ${cabinets}" class="col-md-4 mb-3">
            <div class="list-group-item dropdown position-static">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${'Кабинет №: ' + cabinet.getCabinetNumber()}"></span>
                </button>

                <div class="dropdown-menu">
                    <a th:href="@{/building/department/{department_id}/cabinet/{cabinet_id}(department_id=${cabinet.getDepartment().getId()})(cabinet_id=${cabinet.getId()})}" class="dropdown-item">
                        <div class="info-block">
                            <span class="info-label">Корпус:</span>
                            <span class="info-value" th:text="${cabinet.getCorp()}"></span>
                        </div>
                        <div class="info-block">
                            <span class="info-label">Этаж:</span>
                            <span class="info-value" th:text="${cabinet.getFloor()}"></span>
                        </div>
                        <div class="info-block">
                            <span class="info-label">Сотрудники:</span>
                            <div th:each="employee : ${cabinet.getEmployees()}">
                                <span class="info-value" th:text="${employee.getName() + ' ' + employee.getSurname()}"></span><br>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
<th:block th:include="~{ 'bootstrap/footer' }"></th:block>
</html>